<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>世界你好</h1>
  <script src="/xuni/bundle.js"></script>
  <script>
    var templateStr = `
    <ul>
            {{#arr}}
              <li>
                <p>{{name}}</p>
                <p>{{age}}</p>
                {{#like}}
                <p>{{.}}</p>
                {{/like}}
              </li>
              {{/arr}}
          </ul>
    `
    var data = {}
    SSG_TemplateEngine.render(templateStr,data)
  </script>
</body>
</html>